<div>
    <h2>CARRITO</h2>
    <ul>
        {{#each products}}
        <li id=product-{{this.product._id}}>
            <a href=products/{{this.product._id}}>
                <h3>{{this.product.title}}</h3>
                <p>Precio: {{this.product.price}}</p>
                <p>Descripción: {{this.product.description}}</p>
                <p>Categoría: {{this.product.category}}</p>
                <p>Cantidad: {{this.quantity}}</p>
            </a>
        </li>
        {{/each}}
    </ul>

    {{#if products.length}}
    <p>Total: {{total}}</p>
    <button class="btn btn-dark" type="submit" onClick="deleteCart()">Vaciar carrito</button>
    <a href="/checkout" class="btn btn-success">Finalizar compra</a>
    {{else}}
    <p>El carrito está vacío.</p>
    {{/if}}

    <a href="/products" class="btn btn-primary">Ver más productos</a>


</div>

<script>
    function deleteCart() {
        fetch('/api/carts/{{cartId}}', {
            method: 'DELETE',
        })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                window.location.reload();
            })
            .catch((error) => {
                console.error('Error:', error);
            });
    }
</script>