<div>
    <h1>HYM Materiales</h1>
    <h2>Perfil de Usuario</h2>
    <p>Nombre:{{user.first_name}}</p>
    <p>Apellido: {{user.last_name}}</p>
    <p>Edad: {{user.age}}</p>
    <p>Email: {{user.email}}</p>

    <p>ROL: {{user.role}}</p>

    <a href="/products" class="btn btn-primary">Ver Productos</a>

    <a href="/carts/{{user.cart}}" class="btn btn-success">Ver Carrito</a>


    <form action="/api/sessions/logout" method="get">
        <button type="submit" class="btn btn-dark" style="margin-top: 24px;">Cerrar Sesión</button>
    </form>

</div>