<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="profile-card">
                <h2 style="text-align: center;">Mi Perfil</h2>
                <div class="profile-data">
                    <label>Nombre:</label>
                    <p>{{user.first_name}}</p>
                </div>
                <div class="profile-data">
                    <label>Apellido:</label>
                    <p>{{user.last_name}}</p>
                </div>
                <div class="profile-data">
                    <label>Edad:</label>
                    <p>{{user.age}}</p>
                </div>
                <div class="profile-data">
                    <label>Email:</label>
                    <p>{{user.email}}</p>
                </div>
                <div class="profile-data">
                    <label>Rol:</label>
                    <p>{{user.role}}</p>
                </div>
                <a href="/products" class="btn btn-primary">Ver Productos</a>

                <a href="/cart" class="btn btn-success">Ver Carrito</a>

                <form action="/api/sessions/logout" method="get">
                    <button type="submit" class="btn btn-dark" style="margin-top: 24px;">Cerrar Sesión</button>
                </form>
            </div>
        </div>
    </div>